.main{
	background: url("https://img-blog.csdnimg.cn/20201017213348242.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzQ0NjgyMDE5,size_16,color_FFFFFF,t_70#pic_center") no-repeat top;
	background-size: cover;
	width: 100%;
	}
.logo{
	position: absolute;
	top: 40px;
	left: 270px;

}


.col-pd{
	position: relative;
    min-height: 1px;
    padding: 35px 250px 0 200px;
    box-sizing: border-box;
    display: block;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
	width: 10%;
	padding: 0 5px;
    margin-right: 0;
    float: left;
    margin-bottom: 10px;
    list-style-type: none;
}
ul li a{
	display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background:rgba(255,255,255,0.5);

}
a:hover{
	border: 1px solid #FF9900;
    background-color: #FF9900;
    color: #FFFFFF;
    cursor: pointer;
}
.game{
	color: 	#FF00FF;
}


.centers{
    position: relative;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-left: 170px;
}

.sel{
    border:0px;
    font-size:18px;
    background-color: #DA70D6;
    padding-bottom: 5px;
    border-radius: 5px;
}
.search{
    display: inline-block;
}
.text{
    width: 520px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 19px;
}
.button{
    background-color: #DA70D6;
    color: #fff;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
}
